:root {
  --color-nav: #00FFAB;
  --color-header: #0d0c22;
  --color-sub: #F7F6F2;
  --color-secondary: #3cfffc;

}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px; // 1rem=16px
}

body {
  font-family: 'Ubuntu', sans-serif;
  text-rendering: optimizeSpeed;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}